<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FineUIPro" type="FineUIPro.ConfigSection, FineUIPro" requirePermission="false"/>
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Language="zh_CN" 
      AjaxTimeout="120" 
      EnableAjax="true" 
      Theme="Neptune" 
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      IconBasePath="~/res/icon" 
      EnableAjaxLoading="true" 
      AjaxLoadingType="default" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/theme" 
      
      详细配置说明：http://fineui.com/demo/#/demo/config/modify_webconfig.htm
  -->
  <!--<FineUIPro DebugMode="false" Theme="Neptune"/>-->
  <appSettings/>
  <connectionStrings/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add assembly="FineUIPro" namespace="FineUIPro" tagPrefix="f"/>
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIProScriptModule" type="FineUIPro.ScriptModule, FineUIPro"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUIPro.ResourceHandler, FineUIPro" validate="false"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--<authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/default.aspx" timeout="120" defaultUrl="~/login.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>-->
    
    
  </system.web>
  <!--
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users ="*" />
      </authorization>
    </system.web>
  </location>
  -->
  <!-- IIS7集成管道模式
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </handlers>
  </system.webServer>
  -->
</configuration>